/*-------CSS Reset ------*/

*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*--------- MAIN STYLING ------*/
body {
    width: 80%;
    max-width: 760px;
    margin: auto;
    background-color: cornsilk;
color: #333;    
}

/*----- TYPOGRAPHY -----*/
h1, h2 {
    font-weight: normal;
    color: crimson;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

p, blockquote {
    margin-bottom: 1.141em;
    line-height: 1.4;
}

h1 {
    font-size: 1.999em;
    margin-top: 3em;
    margin-bottom: 01em;
}

h2{
    font-size: 1.141em;
    margin: 3em 0 1em 0;
}

blockquote {
    font-size: 1.141em;
    color: dimgray;
    hanging-punctuation: first;
    text-indent: -0.44em;
}

blockquote cite {
    font-size: 0.75em;
    color: #333;
}

header h2 {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5em
}

header p {
    font-size: 1.141em;
}

/*---------STYLING LINES ---------*/
a {
    color: chocolate;
    text-decoration: none;
}
a:hover {
    color: brown;
    border-bottom: 1px dotted;
}

/* NAVIGATION -----*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: crimson;
    padding: 1em 0;
    font-size: 0.75em;
}
nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px
}


nav ul li{
    display: inline;
    margin: 20px;
    background: none;
}


nav a {
    color: cornsilk;
}

nav a:hover {
    border-bottom: none;
    color: brown;
    transition: all 0.2s ease-in-out;
}


/*------- FOOTER ------*/
footer {
    text-align: center;
    font-size: 0.707em;
    padding: 4em 0 8em 0
}